<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devix.codeqr_chat_bsd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.devix.codeqr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.devix.codeqr.ReaderMain">
        </activity>
        <activity android:name="com.devix.codeqr.GeneratorMain">
        </activity>
        <activity android:name="com.devix.codeqr.ImageQR">
        </activity>
        <activity
            android:name="com.devix.codeqr.CaptureActivityPortrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="com.devix.codeqr.AnexoMain">
        </activity>
    </application>

</manifest>